<html>
<head>
<style>

body{background-image:url("https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-blue-purple-vertical-stripes-frosted-simple-atmospheric-background-image_70163.jpg")}

.class1
{
fieldset{background-color:white;}
legend{background-color:gray;color:white;padding 5px 10px;}
</style>

<title>add news</title>
</head>

<body>

<div>
    <form action="" method="POST">
        {{ cf.hidden_tag() }}
        <fieldset>
            <legend>Add Conference</legend>
<div class="class1">
            {{ cf.name.label(class="form-control-label")}}

            {% if cf.name.errors %}
        
                        {{ cf.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in cf.name.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
        
                        </div>
            {% else %}
        
                        {{ cf.name(class="form-control form-control-lg is-valid") }}
        
            {% endif %}
            <br>
            {{ cf.submit(class="btn btn-outline-info")}}
        </fieldset>
    </form>
</div>
</div>
<br><br>
<button><a href="{{ url_for('admin') }}"><< Admin Dashboard</a> </button>
</body>
</html>