{% extends "layout.html" %}
{% block content %}

<h3>Professors</h3><br>
<img src="http://cse.nitk.ac.in/sites/default/files/images/mini_annappa.jpg">   </img>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<img src="http://cse.nitk.ac.in/sites/default/files/images/mini_prof-kc.jpg">   </img>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<img src="http://cse.nitk.ac.in/sites/default/files/images/mini_santhi%20thilagam.jpg">   </img>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<br>
<a href="http://cse.nitk.ac.in/faculty/annappa">annappa</a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<a href="http://cse.nitk.ac.in/faculty/chandrasekaran-k">Chandrasekaran K</a>&nbsp &nbsp &nbsp &nbsp &nbsp
<a href="http://cse.nitk.ac.in/faculty/p-santhi-thilagam">Santhi Thilagam</a>&nbsp &nbsp &nbsp &nbsp &nbsp 
<br>
<br>

<h3>Head of the Department</h3><br>
<img src="http://cse.nitk.ac.in/sites/default/files/images/mini_dr-shashidar-gk.jpg">   </img>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<br>
<a href="http://cse.nitk.ac.in/faculty/shashidhar-g-koolagudi">Shashidhar G Koolagudi</a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<br>
<br>
<h3>Associate Professors</h3><br>
<img src="http://cse.nitk.ac.in/sites/default/files/images/mini_mr-alwyn-roshan-pais.jpg">   </img>&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<img src="http://cse.nitk.ac.in/sites/default/files/images/mini_dr-manu-basavaraju.jpg">   </img>&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<img src="http://cse.nitk.ac.in/sites/default/files/images/mini_mrs_vani_m.jpg">   </img>&nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<br>
<a href="http://cse.nitk.ac.in/faculty/alwyn-roshan-pais">Alwyn Roshan Pais</a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<a href="http://cse.nitk.ac.in/faculty/manu-basavaraju">Manu Basavaraju</a>&nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
<a href="http://cse.nitk.ac.in/faculty/vani-m">Vani M</a> &nbsp &nbsp &nbsp 
<br>
<br>

<h3>Assistant Professors</h3><br>
<img src="http://cse.nitk.ac.in/sites/default/files/images/mini_mr-br-chandravarkar.jpg">   </img>&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<img src="http://cse.nitk.ac.in/sites/default/files/images/mini_BasavarajTalawar_0.jpg">   </img>&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<img src="http://cse.nitk.ac.in/sites/default/files/images/mini_biswajith.jpg">   </img>&nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<img src="http://cse.nitk.ac.in/sites/default/files/images/mini_dr-jeny-rajan.jpg">   </img>&nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<br>
<a href="http://cse.nitk.ac.in/faculty/b-r-chandravarkar">B. R. Chandravarkar </a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<a href="http://cse.nitk.ac.in/professor/basavaraj-talawar">Basavaraj Talawar</a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
<a href="http://cse.nitk.ac.in/faculty/biswajit-r-bhowmik">Biswajit R Bhowmik</a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<a href="http://cse.nitk.ac.in/faculty/jeny-rajan">Jeny Rajan</a> &nbsp &nbsp &nbsp 
<br><br>
<img src="http://cse.nitk.ac.in/sites/default/files/images/mini_M_Venkateshan_L.png">   </img>&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<img src="http://cse.nitk.ac.in/sites/default/files/images/mini_MPS-PIC-20%281%29.jpg">   </img>&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<img src="http://cse.nitk.ac.in/sites/default/files/images/mini_mohit-p-tahiliani_0.jpg">   </img>&nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<img src="http://cse.nitk.ac.in/sites/default/files/images/mini_Saumya-Hegde.jpg">   </img>&nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<br>
<a href="http://cse.nitk.ac.in/faculty/m-venkatesan">M Venkatesan </a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<a href="http://cse.nitk.ac.in/faculty/mahendra-pratap-singh">Mahendra Pratap Singh</a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
<a href="http://cse.nitk.ac.in/faculty/mohit-p-tahiliani">Mohit P.Tahiliani</a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<a href="http://cse.nitk.ac.in/faculty/saumya-hegde">Saumya Hegde</a> &nbsp &nbsp &nbsp 
<br><br>
<img src="http://cse.nitk.ac.in/sites/default/files/images/mini_saurav.jpg">   </img>
<br><br>
<a href="http://cse.nitk.ac.in/faculty/sourav-kanti-addya">Sourav Kanti Addya </a>

<br><br>
{% endblock content %}